<div class="modal-body">
<p>
<%= form_tag send_email_categories_path, remote: true do %>
    <label for="address">Введите ваш email</label>
    <%= text_field_tag :address %>
    <%= submit_tag "Отправить" %>
  <% end %>
</p>
</div>
